<div class="headerContainer">

    <span class="headerName">Sezgin</span>

    <div class="selectionContainer">

        <div class="aboutmeContainer">
            <span (click)="assignColor(0)" id="button0" class="aboutme">About me</span>
            <img id="line0" class="headerLineAboutme d-none" src="assets/img/headerLine.png">
        </div>

        <div class="skillContainer">
            <span (click)="assignColor(1)" id="button1" class="skills">Skills</span>
            <img id="line1" class="headerLineSkills d-none" src="assets/img/headerLine.png">
        </div>

        <div class="portfolioContainer">
            <span (click)="assignColor(2)" id="button2" class="portfolio">Portfolio</span>
            <img id="line2" class="headerLinePortfolio d-none" src="assets/img/headerLine.png">
        </div>

    </div>

</div>