<div class="introductionShortContainer">

    <img class="rampe" src="assets/img/rampe.png">


    <div class="PictureSocialContainer">

        <div class="PictureShadowContainer">
            <img class="mainShadows" src="assets/img/mainShadows.png">
         <img class="portfolioMain" src="assets/img/portfolioMain.png">
        </div>

    </div>



    <div class="shortIntroductionContainer">

        <div class="wrap">
            <div class="wrapChild">
                <span class="iam">I am</span>

                <div class="textAndButton">
                    <span class="name">Sezgin Gündogdu</span>
                    <span class="frontend">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="buttonIntroduction">Let's talk!</div>

        </div>

    </div>

    <div class="socialMediaContainer">
        <img class="socialLine" src="assets/img/socialLine.png"> 

        <a href="https://github.com/sezgo62"> <img class="githubButton" src="assets/img/githubButton.png"></a>
        <a href="#contact"> <img class="emailButton" src="assets/img/emailButton.png"></a>
        <a href="https://www.linkedin.com/in/sezgin-g%C3%BCndogdu-677376289/"><img class="linkedinButton" src="assets/img/linkedinButton.png"></a>
    </div>

</div>