<form id="contact" (submit)="sendMail()" class="contactContainer" ngNativeValidate #myForm>

    <div class="contactTextContainer">
        <img class="contactLine" src="assets/img/contactLine.png">

        <div class="contactHeaderTextContainer">
            <h1 class="contactText">Contact</h1>

            <div class="contactSpanContainer">
                <h2>Got a problem to solve?</h2> 
                <span>Contact me through this form, I am interested in hearing you, <br>knowing your ideas and
                    contributing
                    to your
                    projects with my work.</span>
            </div>
            <div>Need a Frontend developer? <span class="contactBold">Contact me!</span> </div>
        </div>
    </div>


    <div class="contactInputContainer">

        <input required class="name" placeholder="Your name" name="name" #nameField>
        <input required type="email" class="email" placeholder="Your mail" name="email" #emailField>
        <input required class="message" placeholder="Your message" #messageField>
        <button #buttonField class="sendMessage">Send Message : )</button>

    </div>

 <a href="#"> <div class="goUpDiv"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="green-arrow">
        <path d="M11 7.828L6.34302 12.485C5.95255 12.8755 5.31948 12.8755 4.92902 12.485C4.53855 12.0945 4.53855 11.4615 4.92902 11.071L11.2929 4.70711C11.6834 4.31658 12.3166 4.31658 12.7071 4.70711L19.071 11.071C19.4615 11.4615 19.4615 12.0945 19.071 12.485C18.6806 12.8755 18.0475 12.8755 17.657 12.485L13 7.828L13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19L11 7.828Z" fill="white"/>
        </svg></div></a>

    
        <img class="purpleShadowLeft2" src="assets/img/PurpleShadowLeft2.png"> 
        

</form>

