<div class="introductionContainer">

    <div class="introductionTextContainer">

        <span class="aboutMe">About me</span>

        <span class="selfDescription">Hey, Iam a front-end developer from Wiesbaden</span>

        <div class="howItStarted">

            <img class="lightbulb" src="assets/img/lightbulb.png">

            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <br>Distinctio,
                accusamus necessitatibus sapiente
                facere dolor nihil culpa eos.
                <br>Unde velit dignissimos nam nemo exercitationem
                <br>iste doloremque quod,
                odio vero debitis eos.</span>
        </div>

        <div class="personalThings2">

            <img class="puzzle" src="assets/img/puzzle.png">

            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ut eveniet
                sint,
                <br>magnam officia quisquam vero, corrupti doloremque veritatis odio
                laudantium
                <br> mollitia? Facere velit eligendi perspiciatis hic repellat
                eaque. Architecto!</span>
        </div>


    </div>



    <div class="introductionContainerImage">

        <div class="testContainer">
            <div class="roundContainer">
                <img class="profilePicture" src="assets/img/yoyo.jpg">
            </div>

            <img class="lineImage" src="assets/img/lineImage.png">
        </div>

    </div>

</div>