<div class="endBarContainer">


    <div class="impressumContainer">
        <span class="endBarName">
            Sezgin
        </span>

        <span class="impressumText">
            Impressum
        </span>
    </div>


    <span class="copyrightText">© Sezgin Gündogdu 2023</span>


    <div class="socialMediaContainerEndBar">
        <a href="https://github.com/sezgo62"><img class="githubButton" src="assets/img/githubButton.png"></a>
       <a href="#contact"> <img class="emailButton" src="assets/img/emailButton.png"></a>
       <a href="https://www.linkedin.com/in/sezgin-g%C3%BCndogdu-677376289/"><img class="linkedinButton" src="assets/img/linkedinButton.png"></a>
    </div>

    <span class="impressumText2">
        Impressum
    </span>

</div>