<div class="skillsContainer">

    <div class="iconPool" id="iconPool">

        <div *ngFor="let elements of iconsObjects" class="iconContainer">
            <img class="iconImages hvr-wobble-to-top-right" src="assets/icons/{{elements['image']}}.png">
            <span class="iconName">{{elements['iconName']}}</span>
        </div>
    </div>

    <div class="skillsTextContainer">

        <div class="skillsHeaderContainer">
            <span class="skillsHeaderText">My skills</span>
            <img class="skillsLine" src="assets/icons/skillsLine.png">
        </div>

        <span class="skillText">I have gained experience in building projects with various front end technologies
            and concepts.</span>

        <div class="connectMe">Get in touch</div>

    </div>



</div>