.skillsContainer {
  margin-top: 270px;
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  height: 68vh;
}

.skillsTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.greenShadow {
  position: absolute;
  left: 0;
  bottom: -94%;
  height: 157%;
  z-index: -1;
}

.iconPool {
  display: flex;
  color: white;
  flex-wrap: wrap;
  width: 65%;
  justify-content: center;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  width: 153px;
  align-items: center;
}

.iconContainerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconImages {
  padding-bottom: 10px;



}



.hvr-wobble-to-top-right {
  @-webkit-keyframes hvr-wobble-to-top-right {
    16.65% {
      -webkit-transform: translate(8px, -8px);
      transform: translate(8px, -8px);
    }

    33.3% {
      -webkit-transform: translate(-6px, 6px);
      transform: translate(-6px, 6px);
    }

    49.95% {
      -webkit-transform: translate(4px, -4px);
      transform: translate(4px, -4px);
    }

    66.6% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }

    83.25% {
      -webkit-transform: translate(1px, -1px);
      transform: translate(1px, -1px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes hvr-wobble-to-top-right {
    16.65% {
      -webkit-transform: translate(8px, -8px);
      transform: translate(8px, -8px);
    }

    33.3% {
      -webkit-transform: translate(-6px, 6px);
      transform: translate(-6px, 6px);
    }

    49.95% {
      -webkit-transform: translate(4px, -4px);
      transform: translate(4px, -4px);
    }

    66.6% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }

    83.25% {
      -webkit-transform: translate(1px, -1px);
      transform: translate(1px, -1px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}

.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.hvr-wobble-to-top-right:hover,
.hvr-wobble-to-top-right:focus,
.hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.iconName {}

.connectMe {
  width: 155px;
  height: 54px;
  background-color: #70E61C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.1s ease-out;

  &:hover {
    transform: scale(1.2);
    background-color: #9747FF;
  }
}


.connectMe2 {
  display: none !important;

  width: 155px;
  height: 54px;
  background-color: #70E61C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.1s ease-out;

  &:hover {
    transform: scale(1.2);
    background-color: #9747FF;
  }
}

.skillsHeaderText {
  margin-bottom: 30px;
  font-size: 87px;
  font-weight: bold;

}

.skillText {
  margin-bottom: 50px;
  margin-right: 40px;
  text-align: end;
}

.skillsHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.skillsLine {
  margin-left: 40px;
}


@media(max-width: 1300px) {
  .iconPool {
    width: 1166px;
  }

  .skillsTextContainer {
    width: 560px;
  }

  .skillsHeaderText {
    width: 379px;
    text-align: center;
  }

}

@media(max-width: 1140px) {

  .skillsContainer {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 436px;
  }

  .skillText {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .skillsTextContainer {
    width: 100%;
  }

  .connectMe {
    display: none;
  }

  .connectMe2 {
    display: unset !important;
    text-align: center;
    margin-top: 81px;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .iconPool {
    width: 590px;
    margin-top: 75px;
  }

  .iconContainer {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}

@media(max-width: 610px) {

  .greenShadow {
    bottom: -64%;
    height: 90%;
    width: 49%;
}

.skillsContainer {
  margin-top: 530px;
}

  .iconContainer {
    margin-right: unset;
    margin-left: unset;
  }

  .skillsLine {
    margin-left: 11px;
    width: 50px;
  }

  .skillsHeaderText {
    width: 379px;
    text-align: end;
    font-size: 55px;
}

.iconPool {
  width: 306px;
  margin-top: 24px;
}

}