<div class="test">

    <div class="portfolioHeaderContainer">

        <div class="portfolioHeader">
            <img class="portfolioLine1" src="assets/img/portfolioLine1.png">
            <span class="portfolioText">Portfolio</span>
            <img class="portfolioLine2" src="assets/img/portfolioLine2.png">
        </div>

        <div class="portfolioHeaderText">
            <span>This page is a sample of my work - please feel free to try them out</span>
        </div>

    </div>

    <div class="projectContainer">

        <div class="project1">

            <img class="elpolloProjectImage" src="assets/img/elpolloProject.png">

            <div class="ProjectText">

                <span class="projectTitle">El Pollo Loco</span>
                <span class="projectRequirements">JavaScript | HTML | CSS</span>
                <span class="projectDescription">A simple Jump-and-Run game on an object-oriented approach. <br>Follow Pepe on his adventure to find the salsa bottles to fight<br> the evil boss chicken who wants to kill all mexican people.</span>

                <div class="buttons"> <div class="livesTest">Live test!</div>   <div class="gitHub">GitHub</div> </div>

            </div>

        </div>


        <div class="project1">


            <div class="ProjectText">

                <span class="projectTitle">Join</span>
                <span class="projectRequirements">JavaScript | HTML | CSS</span>
                <span class="projectDescription">Task manager inspired by the Kanban System.<br> Create and organize tasks using drag and drop functions, <br>assign users and categories.</span>

                <div class="buttons"> <div class="livesTest">Live test!</div>   <div class="gitHub">GitHub</div> </div>

            </div>


            <img class="joinProject" src="assets/img/joinProject.png">


        </div>


        <div class="project1">

            <img class="ringProjectImage" src="assets/img/ringProject.png">

            <div class="ProjectText">

                <span class="projectTitle">Ring of Fire</span>
                <span class="projectRequirements">Angular | Typescript | SCSS</span>
                <span class="projectDescription">A funny drink game you can play with your friends. <br>You need just to share the link with all people you want to engage in. <br>Every card you draw has it's rule and commands players need to follow.</span>

                <div class="buttons"> <div class="livesTest">Live test!</div>   <div class="gitHub">GitHub</div> </div>

            </div>

        </div>



        <div class="project1">


            <div class="ProjectText">

                <span class="projectTitle">Quiz-App</span>
                <span class="projectRequirements">JavaScript | HTML | CSS</span>
                <span class="projectDescription">A Quiz-App which challenges your knowledge in regard of your general knowledge. Try it out!</span>

                <div class="buttons"> <div class="livesTest">Live test!</div>   <div class="gitHub">GitHub</div> </div>

            </div>


            <img class="quizProjectImage" src="assets/img/quizProject.png">


        </div>


        <div class="project1">

            <img class="pokeProjectImage" src="assets/img/pokeProject.png">

            <div class="ProjectText">

                <span class="projectTitle">Ring of Fire</span>
                <span class="projectRequirements">JavaScript | API | HTML | CSS</span>
                <span class="projectDescription">Use this Pokedex to gain information about all pokemon and about their stats.<br> You can load all on the bottom on their official order and catch them all!</span>

                <div class="buttons"> <div class="livesTest">Live test!</div>   <div class="gitHub">GitHub</div> </div>

            </div>

        </div>



    </div>
</div>