.portfolioHeaderContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 148px;
}

.portfolioProjectsBody {}

.purpleShadowLeft {
    position: absolute;
    left: 0;
    width: 46%;
    height: 45%;
    bottom: 23%;
    z-index: -1;
}

.greenShadowRight {
    position: absolute;
    right: 0;
    width: 28%;
    height: 41%;
    z-index: -1;
}

.test {
    margin-top: 150px;
    position: relative;
    z-index: 2;
}

.portfolioLine1 {
    height: 6px;
}

.portfolioLine2 {
    height: 6px;
    width: 34%;
}

.portfolioText {
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    font-size: 90px;
    font-weight: bold;
}

.portfolioHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.portfolioHeaderTextContainer {
    display: flex;
    justify-content: center;
    color: white;
}

.livesTest {
    width: 155px;
    height: 54px;
    background-color: #9747FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;

    transition: transform 0.1s ease-out;

    &:hover {
        background-color: #70E61C;
    }
}

.gitHub {
    width: 155px;
    height: 54px;
    border: solid 1px #70E61C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    transition: transform 0.1s ease-out;

    &:hover {

        background-color: #70E61C;
    }
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 228px;
}

.projectJoin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 228px;
}

.projectQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 228px;
}


.elpolloProjectImage {
    width: 343px;
    height: 225px;
    margin-right: 20%;
}

.joinProject {
    width: 343px;
    height: 225px;
    margin-left: 20%;
}

.ringProjectImage {
    width: 343px;
    height: 225px;
    margin-right: 20%;
}

.quizProjectImage {
    width: 343px;
    height: 225px;
    margin-left: 10%;
}

.pokeProjectImage {
    width: 343px;
    height: 225px;
    margin-right: 20%;
}

.ProjectText {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.buttons {
    display: flex;
}

.projectTitle {
    margin-bottom: 30px;
    color: #9747FF;
    font-size: 24px;
    font-weight: bold;
}

.projectRequirements {
    margin-bottom: 30px;
    color: #70E61C;
}

.projectDescription {
    margin-bottom: 50px;
    color: white;
}

.projectContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 1920px) {
    .test {
       width: 1440px;
       position: unset;
    }

    .purpleShadowLeft {
        width: 30%;
        height: 152%;
        bottom: -328%;
    }

    .greenShadowRight {
        width: 23%;
        bottom: -476%;
        height: 157%;
    }

    app-portfolio-projects {
        display: flex;
        justify-content: center;
    }

}

@media(max-width: 1920px) {

    .test {
        width: 100%;
     }

}

@media(max-width: 1300px) {

    .portfolioText {
        font-size: 70px;
    }

    .portfolioLine1 {
        width: 5%;
    }

    .portfolioLine2 {
        width: 18%;
    }

    .portfolioHeader {
        margin-bottom: 30px;
    }

    .portfolioHeader {

        margin-bottom: 30px;
    }

}

@media(max-width: 960px) {

    .project {
        width: 30%;
    }

    .projectQuiz {
        width: 30%;
    }

    .projectJoin {
        width: 30%;
    }

}

@media(max-width: 800px) {

    .project {
        flex-direction: column;
    }


    .projectQuiz {
        flex-direction: column-reverse;
    }

    .projectJoin {
        flex-direction: column-reverse;
    }

    .ProjectText {

        align-items: center;
    }

    .joinProject,
    .elpolloProjectImage,
    .ringProjectImage,
    .quizProjectImage,
    .pokeProjectImage {
        margin-left: unset;
        margin-right: unset;
        margin-bottom: 80px;
    }

}

@media(max-width: 640px) {

    .portfolioText {
        font-size: 49px;
    }

    .portfolioHeaderText {
        width: 50%;
    }

}

@media(max-width: 640px) {

    .purpleShadowLeft {
        left: 0;
        width: 100%;
        height: 12%;
        bottom: 30%;
    }

    .greenShadowRight {
        width: 59%;
        height: 13%;
        bottom: -287px;
    }

    .joinProject,
    .elpolloProjectImage,
    .ringProjectImage,
    .quizProjectImage,
    .pokeProjectImage {
        width: 250px;
        height: 180px;
    }

    .ProjectText {
        width: 282%;
    }

    .livesTest {
        width: 129px;
        height: 54px;
        margin-right: 16px;
    }

    .gitHub {
        width: 129px;
        height: 54px;
    }

}